version: 2.1


variables:
  update_conda: &update_conda
    run:
      name: Update conda
      command: conda update --yes conda
  create_env: &create_env
    run:
      name: create env
      command: |
        conda env create -f environment.yaml
        source activate gnomad_db
        python -m ipykernel install --user --name gnomad_db --display-name "gnomad_db"
workflows:
  sample:  # This is the name of the workflow, feel free to change it to better match your workflow.
    # Inside the workflow, you define the jobs you want to run. 
    # For more details on extending your workflow, see the configuration docs: https://circleci.com/docs/2.0/configuration-reference/#workflows 
    jobs:
      - build-and-test
      - test_pip_install


jobs:
  build-and-test:  # This is the name of the job, feel free to change it to better match what you're trying to do!
    docker:
      - image: continuumio/miniconda3:4.7.10
    steps:
      - checkout
      - *update_conda
      - *create_env
      - run:
          name: Run tests
          # This assumes pytest is installed via the install-package step above
          command: |
            source activate gnomad_db
            snakemake --cores 1
            python -m pytest test_dir/
            python setup.py install
  test_pip_install:  # This is the name of the job, feel free to change it to better match what you're trying to do!
    docker:
      - image: circleci/python:3.6.2-stretch-browsers
    steps:
      - checkout
      - run:
          name: Test pip installation
          # This assumes pytest is installed via the install-package step above
          command: |
            if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
            python setup.py install --force
            python -m pytest test_dir/
